@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 212, 212);
    background-image: url('images/pattern-penta-wicker.png');
}

.wrapper {
    width: 600px;
    /* height: 5100px; */
    background-color: rgb(173, 228, 187);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    box-shadow: 0px 0px 15px rgb(102, 102, 102);
}



.header {
    background-color: #333333;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    position: absolute;
    left: 15px;
    top: 30%;
}

.header a {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #a29fa6;
    transition: color 0.2s ease 0s;
    text-transform: uppercase;
    text-decoration: none;

}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

.header ul li {
    padding: 15px;

}

.test {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.qst {
    font-family: 'Russo One';
    font-size: 1rem;
    /* margin: 55px; */
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

/* .question {} */

.counts {
    /* background-color: rgb(255, 167, 167); */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.count {
    width: 40px;
    height: 100%;
    background-color: rgb(120, 184, 165);
    border: 1px solid rgba(255, 255, 255, 0.61);
    line-height: 40px;
    text-align: center;
    font-family: 'Russo One';
    user-select: none;
}

.count[data-visibility="none"] {
    background-color: darkgrey;
}

.answers {
    flex: 1 1 auto;
}

.answers li {
    font-family: 'Cuprum';
    list-style-type: none;
    background-color: rgb(120, 184, 165);
    height: 40px;
    line-height: 24px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px;
    text-align: center;
    pointer-events: visible;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answers li:hover {
    background-color: rgb(124, 185, 187);
}

.resultImage {
    width: 50%;
    height: 50%;
    margin: 0px auto 30px auto;
    box-shadow: 0px 0px 20px #fff;


}

@media screen and (max-width: 750px) {
    .header {
        /* display: none; */
        background-color: #333333;
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .logo {
        position: relative;
        left: 0px;
    }

    .header a {
        font-family: montserrat, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #a29fa6;
        transition: color 0.2s ease 0s;
        text-transform: uppercase;
        text-decoration: none;

    }

    .header ul {
        display: none;
        justify-content: center;
        align-items: center;
        list-style-type: none;

    }

    .header ul li {
        padding: 15px;

    }
}